<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Data Application</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/eso-theme.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<script src="{{ STATIC_URL }}js/lib/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/metro/modernizr-2.6.1.min.js"></script>
	<script type="text/javascript" src="/static/js/metro/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="/static/js/metro/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/metro/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="/static/js/metro/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/metro/bootmetro.js"></script>
	<script type="text/javascript" src="/static/js/metro/bootmetro-charms.js"></script>
	<script type="text/javascript" src="/static/js/metro/demo.js"></script>
	<script type="text/javascript" src="/static/js/metro/holder.js"></script>
	<script type="text/javascript" src="/static/js/drawTree.js"></script>
	<script src="/static/js/PageViewJS.js" type="text/javascript"></script>
        <script>
 $(".metro").metro();

$.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {   
	  alert("error status: "+ textStatus+", error thrown: "+ errorThrown + ", response: "+XMLHttpRequest.responseText);
}});
        </script>
	{% block customstyle %}{% endblock %}
	{% block customjs %}{% endblock %}
</head>
<body>
	<div class="eso-inner">
	<header id="eso-topbar" class="eso-topbar">
		<a href="{% url 'index' %}" title="go back home" class="logo">Data Application</a>
		<a class="eso-logo">Know better than only data</a>
	</header>
	<div class="navbar">
		<ul class="nav">
			{% if cv_index %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{% url 'index' %}">Home</a>
			</li>
			{% if cv_topological_graph %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{% url 'topological_graph' %}">Topological Graph</a>
			</li>
			{% if cv_global_retrieve %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{% url 'global_retrieve' %}">Global Retrieve</a>
			</li>
			{% if cv_flow_statis %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{% url 'flow_statis' %}">Flow Statistic</a>
			</li>
			{% if user.is_superuser %}
			<li class="">
			<a href="{% url 'admin:index' %}">Admin</a>
			</li>
			{% endif %}
			</ul>
		</div>
	<div class="content">
		<div class="breadcrumb">
			<ul class="pull-left">
				{% block breadcrumb %}{% endblock %}
			</ul>
			<div class="clear"></div>
		</div>
		{% block content %}{% endblock %}
	</div>
	<div class="footer"></div>
	</div>
</body>
</html>
