{% extends 'base.html' %}

{% block customjs %}
<script>
var protoDict={
    1:"icmp",
    6:"tcp",
    17:"udp",
    58:"icmp6"
}
var pageSize=10;
var allPage=0;
var curPage=1;
function submitQuery(form,curPage,pageSize){
    with(form){
        $.ajax({
            type:"POST",
            url: "submit",
            data: {
                src_mac: src_mac.value,
                dst_mac: dst_mac.value,
                src_ip: src_ip.value,
                dst_ip: dst_ip.value,
                src_port: src_port.value,
                dst_port: dst_port.value,
                proto: proto.value,
                curPage: curPage,
                size: pageSize
            },
            dataType: 'json',
            async: false,
            success: function(data){
                if(data.status && data.status=="ok")
                {   
                   // alert("ok");
                    var result=data.result.allList;
                    var swInfoUrl="http://sc.research.intra.nsfocus.com:8888/sc/knowledgebase/network/switch/";
                    $("#tbl tbody").empty();
                    for(var i=0; i<result.length; i++){
                        var flow=result[i];
                        var recStr="<tr>";
                        if(flow.matchlist.length===0)continue;
                        var fm=flow.matchlist[0];
                        recStr+="<td>"+fm.dataLayerSource+"</td>"
                        +"<td>"+fm.dataLayerDestination+"</td>"
                        +"<td>"+fm.networkSource+"</td>"
                        +"<td>"+fm.networkDestination+"</td>"
                        +"<td>"+((fm.transportSource)&0x7fff)+"</td>"
                        +"<td>"+((fm.transportDestination)&0x7fff)+"</td>"
                        +"<td>"+protoDict[fm.networkProtocol.toString()]+"</td>"
                        +"<td>"+flow.packetCount+"</td>"
                        +"<td>"+flow.byteCount+"</td>";
                        recStr+="<td>";
                        for(var j=0;j<flow.pathlink.length;j++)
                        {
                            if(flow.pathlink[j]!='end')
                            recStr+="<a href='"+swInfoUrl+flow.pathlink[j].nodeId+"'>*"+(flow.pathlink[j].nodeId.substr(17,6))+"</a> ";
                        }
                        recStr+="</td>";
                        recStr+="</tr>";
                        $("#tbl tbody").append(recStr);
                    }
                    var allCount=data.result.allCount;
                    $("#allCount").text(allCount+"条数");
                    allPage = allCount % pageSize == 0 ? allCount / pageSize : parseInt(allCount / pageSize) + 1;
                                            
                    ShowPage({
                         CurrentPage: curPage,
                         MaxPageSize: allPage,
                         PageShowSize: 3,
                         IsUpDown: true,
                         ShowElement: document.getElementById("divPage"),
                         PageEvents: function (page) {
                            //FindOrgList(page);
                            submitQuery(form,page,pageSize);
                         }
                     });
                }
                else
                {   
                    alert("response error: " + result.status+", msg: "+result.msg);
                } 
            },
            failure: function(errMsg) {
                alert("ajax error: " + result.msg);
            }
        }); 
    }
    return false;
}
$(document).ready(function(){
    $("#query_btn").click(function(){
        submitQuery($("#query_form"),1,pageSize);
    });
    $("#test_btn").click(function(){
        testFormat($("#query_form"));
    });
});
</script>
{% endblock customjs %}
{% block content %}
<!--<div id=query_flow>
    <h2>统计流量</h2>
    <div id=query_form_flow>
        <table class="table table-bordered table-striped datatable">
        <tbody width=70%>
        <tr><td>源MAC地址: </td><td><input type="text" name="src_mac" id="src_mac"/></td></tr>
        <tr><td>目的MAC地址: </td><td><input type="text" name="dst_mac" id="dst_mac"/></td><tr>
        <tr><td>源IP:</td><td><input type="text" name="src_ip" id="src_ip"/></td></tr>
        <tr><td>目的IP: </td><td><input type="text" name="dst_ip" id="dst_ip"/></td></tr>
        <tr><td>源端口: </td><td><input type="text" name="src_port" id="src_port"/></td></tr>
        <tr><td>目的端口: </td><td><input type="text" name="dst_port" id="dst_port" /></td></tr>
        </tbody>
        </table>
    </div>
</div>
-->
<div id=query_zone>
    <h2>输入筛选条件</h2>
    <div id=query_form>
        <table class="table table-bordered table-striped datatable">
        <tbody width=70%>
        <tr><td>源MAC地址: </td><td><input type="text" name="src_mac" id="src_mac"/></td></tr>
        <tr><td>目的MAC地址: </td><td><input type="text" name="dst_mac" id="dst_mac"/></td><tr>
        <tr><td>源IP:</td><td><input type="text" name="src_ip" id="src_ip"/></td></tr>
        <tr><td>目的IP: </td><td><input type="text" name="dst_ip" id="dst_ip"/></td></tr>
        <tr><td>源端口: </td><td><input type="text" name="src_port" id="src_port"/></td></tr>
        <tr><td>目的端口: </td><td><input type="text" name="dst_port" id="dst_port" /></td></tr>
        <tr><td>应用层协议: </td><td><select name="proto" id="proto"><option value="">全部</option><option value="1">icmp</option><option value="6">tcp</option><option value="17">udp</option><option value="58">icmp6</option></select></td></tr>
        </tbody></table>
        <button id="query_btn">查询</button>
       <!-- <button id="test_btn">测试按钮</button> -->
    </div>
</div>

<div id=result >
<div style="text-align:center">
<h2>筛选结果</h2><div id="allCount"></div>
</div>
<table id="tbl" class="table table-bordered table-striped datatable">
<thead>
<th>源MAC地址</th>
<th>目的MAC地址</th>
<th>源IP</th>
<th>目的IP</th>
<th>源端口</th>
<th>目的端口</th>
<th>应用层协议</th>
<th>包数</th>
<th>字节数</th>
<th>经过的交换机链路</th>
</tr>
</thead>
<div style="max-height:500px;overflow-y:scroll">
<tbody></tbody>
</div>
</table>
<div id="divPage" style="text-align:center"></div>
</div>
{% endblock content %}
