{% extends 'base.html' %}

{% block customjs %}
<script src = '{{STATIC_URL}}js/global_retrieve.js' type='text/javascript'></script>
{% endblock customjs %}
{% block content %}
<!--<div id=query_flow>
    <h2>统计流量</h2>
    <div id=query_form_flow>
        <table class="table table-bordered table-striped datatable">
        <tbody width=70%>
        <tr><td>源MAC地址: </td><td><input type="text" name="src_mac" id="src_mac"/></td></tr>
        <tr><td>目的MAC地址: </td><td><input type="text" name="dst_mac" id="dst_mac"/></td><tr>
        <tr><td>源IP:</td><td><input type="text" name="src_ip" id="src_ip"/></td></tr>
        <tr><td>目的IP: </td><td><input type="text" name="dst_ip" id="dst_ip"/></td></tr>
        <tr><td>源端口: </td><td><input type="text" name="src_port" id="src_port"/></td></tr>
        <tr><td>目的端口: </td><td><input type="text" name="dst_port" id="dst_port" /></td></tr>
        </tbody>
        </table>
    </div>
</div>
-->
<div id=query_zone>
    <h2>输入筛选条件</h2>
    <div id=query_form>
        <table class="table table-bordered table-striped datatable">
        <tbody width=70%>
        <tr><td>源MAC地址: </td><td><input type="text" name="src_mac" id="src_mac"/></td></tr>
        <tr><td>目的MAC地址: </td><td><input type="text" name="dst_mac" id="dst_mac"/></td><tr>
        <tr><td>源IP:</td><td><input type="text" name="src_ip" id="src_ip"/></td></tr>
        <tr><td>目的IP: </td><td><input type="text" name="dst_ip" id="dst_ip"/></td></tr>
        <tr><td>源端口: </td><td><input type="text" name="src_port" id="src_port"/></td></tr>
        <tr><td>目的端口: </td><td><input type="text" name="dst_port" id="dst_port" /></td></tr>
        <tr><td>应用层协议: </td><td><select name="proto" id="proto"><option value="">全部</option><option value="1">icmp</option><option value="6">tcp</option><option value="17">udp</option><option value="58">icmp6</option></select></td></tr>
        </tbody></table>
        <button id="query_btn">查询</button>
       <!-- <button id="test_btn">测试按钮</button> -->
    </div>
</div>

<div id=result >
<div style="text-align:center">
<h2>筛选结果</h2><div id="allCount"></div>
</div>
<table id="tbl" class="table table-bordered table-striped datatable">
<thead>
<th>源MAC地址</th>
<th>目的MAC地址</th>
<th>源IP</th>
<th>目的IP</th>
<th>源端口</th>
<th>目的端口</th>
<th>应用层协议</th>
<th>包数</th>
<th>字节数</th>
<th>经过的交换机链路</th>
</tr>
</thead>
<div style="max-height:500px;overflow-y:scroll">
<tbody></tbody>
</div>
</table>
<div id="divPage" style="text-align:center"></div>
</div>
{% endblock content %}
